<div class="row">
  <div class="col-lg-12">
      <div class="card card-outline-info">
          <div class="card-header">
              <h4 class="m-b-0 text-white">Settings</h4>
          </div>
          <div class="card-body">
              <form action="/setting/afterRegister" method="post" class="form-horizontal">
                  <div class="form-body">
                      <span class="box-title">Please enter the data for connection to Gitlab. Remember, administrative access is required to get the runner data.</span>
                      <hr class="m-t-0 m-b-40">
                      <div class="row">
                          <div class="col-md-12">
                              <div class="form-group row">
                                  <label class="control-label text-right col-md-2">Gitlab API</label>
                                  <div class="col-md-10">
                                      <input class="form-control" id="gitlab_api" name="gitlab_api" type="text" value="<%if (config && config.gitlab_api){%><%=config.gitlab_api%><%}%>" placeholder="https://mygitlab.com/api/v4">
                                  </div>
                              </div>
                          </div>
                          <!--/span-->
                          <div class="col-md-12">
                              <div class="form-group row">
                                  <label class="control-label text-right col-md-2">Private Token</label>
                                  <div class="col-md-10">
                                    <input class="form-control" id="gitlab_token" name="gitlab_token" type="text" value="<%if (config && config.gitlab_api){%><%=config.gitlab_token%><%}%>" placeholder="My awesome token">
                                  </div>
                              </div>
                          </div>
                          <div class="col-md-12">
                            <div class="form-group row">
                                <label class="control-label text-right col-md-2">Password</label>
                                <div class="col-md-10">
                                  <input class="form-control" id="password" name="password" type="password" value="" placeholder="Password">
                                </div>
                            </div>
                        </div>
                          <!--/span-->
                      </div>
                  </div>
                  <hr>
                  <div class="form-actions">
                      <div class="row">
                          <div class="col-md-6">
                              <div class="row">
                                  <div class="col-md-offset-3 col-md-9">
                                      <button type="submit" class="btn btn-success">Submit</button>
                                      <button type="button" class="btn btn-inverse">Cancel</button>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </form>
          </div>
      </div>
  </div>
</div>