<div class="row">
    <!-- Column -->
    <div class="col-lg-3 col-md-6">
        <div class="card">
            <div class="card-body">
                <div class="d-flex flex-row">
                    <div class="round round-lg align-self-center round-purple"><i class="fas fa-rocket"></i></div>
                    <div class="m-l-10 align-self-center">
                        <h3 class="m-b-0 font-light"><%=total%></h3>
                        <h5 class="text-muted m-b-0">Runners</h5></div>
                </div>
            </div>
        </div>
    </div>
    <!-- Column -->
    <!-- Column -->
    <div class="col-lg-3 col-md-6">
        <div class="card">
            <div class="card-body">
                <div class="d-flex flex-row">
                    <div class="round round-lg align-self-center round-online"><i class="fas fa-smile"></i></div>
                    <div class="m-l-10 align-self-center">
                        <h3 class="m-b-0 font-lgiht"><%=online%></h3>
                        <h5 class="text-muted m-b-0">Runners Online</h5></div>
                </div>
            </div>
        </div>
    </div>
    <!-- Column -->
    <!-- Column -->
    <div class="col-lg-3 col-md-6">
        <div class="card">
            <div class="card-body">
                <div class="d-flex flex-row">
                    <div class="round round-lg align-self-center round-danger"><i class="fas fa-frown"></i></div>
                    <div class="m-l-10 align-self-center">
                        <h3 class="m-b-0 font-lgiht"><%=offline%></h3>
                        <h5 class="text-muted m-b-0">Runners Offline</h5></div>
                </div>
            </div>
        </div>
    </div>
    <!-- Column -->
    <!-- Column -->
    <div class="col-lg-3 col-md-6">
        <div class="card">
            <div class="card-body">
                <div class="d-flex flex-row">
                    <div class="round round-lg align-self-center round-gitlab"><i class="fab fa-gitlab"></i></div>
                    <div class="m-l-10 align-self-center">
                        <h3 class="m-b-0 font-lgiht">v<%=gitlabVersion%></h3>
                        <h5 class="text-muted m-b-0">Gitlab</h5></div>
                </div>
            </div>
        </div>
    </div>
    <!-- Column -->
</div> 

<div class="row">
    <!-- Column -->
    <div class="col-lg-3 col-md-6">
        <div class="card">
            <div class="card-body">
                <div class="d-flex flex-row">
                    <div class="round round-lg align-self-center round-warning"><i class="fab fa-linux"></i></div>
                    <div class="m-l-10 align-self-center">
                        <h3 class="m-b-0 font-light"><%=countLinux%></h3>
                        <h5 class="text-muted m-b-0">Linux</h5></div>
                </div>
            </div>
        </div>
    </div>
    <!-- Column -->
    <!-- Column -->
    <div class="col-lg-3 col-md-6">
        <div class="card">
            <div class="card-body">
                <div class="d-flex flex-row">
                    <div class="round round-lg align-self-center round-info"><i class="fab fa-windows"></i></div>
                    <div class="m-l-10 align-self-center">
                        <h3 class="m-b-0 font-lgiht"><%=countWin%></h3>
                        <h5 class="text-muted m-b-0">Windows</h5></div>
                </div>
            </div>
        </div>
    </div>
    <!-- Column -->
    <!-- Column -->
    <div class="col-lg-3 col-md-6">
        <div class="card">
            <div class="card-body">
                <div class="d-flex flex-row">
                    <div class="round round-lg align-self-center round-info"><i class="fab fa-docker"></i></div>
                    <div class="m-l-10 align-self-center">
                        <h3 class="m-b-0 font-lgiht"><%=countDocker%></h3>
                        <h5 class="text-muted m-b-0">Docker</h5></div>
                </div>
            </div>
        </div>
    </div>
    <!-- Column -->
    <!-- Column -->
    <div class="col-lg-3 col-md-6">
        <div class="card">
            <div class="card-body">
                <div class="d-flex flex-row">
                    <div class="round round-lg align-self-center round-online"><i class="fas fa-share-alt"></i></div>
                    <div class="m-l-10 align-self-center">
                        <h3 class="m-b-0 font-lgiht"><%=maquinas%></h3>
                        <h5 class="text-muted m-b-0">VM's</h5></div>
                </div>
            </div>
        </div>
    </div>
    <!-- Column -->
</div> 