<div class="row">
  <div class="col-12">
      <div class="card">
              <div class="card-body">
                  <h4 class="card-title">Runners</h4>
                  <hr>
                  <div class="table-responsive table-striped">
                      <table class="table">
                          <thead>
                              <tr>
                                <th style="width:40%;">Description</th>
                                <th style="width:8%;">IP Adress</th>
                                <th style="width:5%;">Status</th>
                                <th style="width:20%;">Last Contact</th>
                                <th style="width:8%;">Platform</th>
                                <th style="width:8%;">Version</th>
                                <th style="width:8%;">Shared</th>
                              </tr>
                          </thead>
                          <tbody>
                            <% _.each(runners, function(runner){ %>
                              <tr>
                                <td><%=runner.description%></td>
                                <td><%=runner.ip_address%></td>
                                <td>
                                    <span class="label label-<%if (runner.status=='online'){%>primary<%}else if(runner.status=='offline'){%>danger<%}else{%>warning<%}%>"><%=runner.status%></span>                                  
                                </td>
                                <td><span class="label label-primary"><%=moment(runner.contacted_at).fromNow()%></span></td>
                                <td><span class="label label-info"><%=runner.platform%></span></td>
                                <td>
                                    <span class="label label-<% if (compareVersions(gitlabVersion.slice(0, -2), runner.version.slice(0, -2)) < 1 ){%>primary<%}else{%>danger<%}%>"><%=runner.version%></span>
                                </td>
                                <td>
                                    <span class="label label-<%if (runner.is_shared){%>primary<%}else{%>danger<%}%>"><%=runner.is_shared%></span>
                                </td>
                              </tr>
                            <%})%>
                          </tbody>
                      </table>
                  </div>
              </div>
          </div>
  </div>
</div>